# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
# Python-related ignored files
*.egg-info/
__pycache__/
# Agent-skills-related ignored files
__scratches__/
.agents/